<h1>New Diary Entry</h1>
<form action="/new-entry" method="post">
  <div>
    <label for='title_entry'>Title:</label>
    <input type='text' id="title_entry" name='title'>
  </div>
  <div>
    <label for='body_entry'>Diary Entry:</label>
    <input type='text' id='body_entry' name='body'>
  </div>
  <div>
    <input type='submit' name='Submit'>
  </div>
</form>